    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    {{#if user.username}}
        <p>欢迎您,{{user.username}}</p>
    {{else}}
        {{#if user.rePassword}}
        <p>恭喜您,注册成功,<a href="/login">点击登录</a></p>
        {{else}}
        <p><a href="/login">点击登录</a></p>
        <p>没有账号?<a href="/register">前往注册</a></p>
        {{/if}}
    {{/if}}
